<html>
    <head>
	
	<base href="http://127.0.0.1:8000/" />
	
	<link rel="stylesheet" type="text/css" href="static/style/base.css"></link>
	<link rel="stylesheet" type="text/css" href="static/style/print.css"></link>    
	
	<script src="http://code.jquery.com/jquery-1.5.1.js"></script>
	
    </head>


    <body>
	
	<div class="nav-utility" id="nav-utility">
	    <ul>
		<li class="home">
		    <a href="">Hooome!</a>
		</li>
		<li class="about">
		    <a href="about">Abouuuut!</a>
		</li>
		<li class="careers">
		    <a href="careers">Careeers!</a>
		</li>
	    </ul>
	</div>
    
    
    </body>

</html>