<html>
    <head>
	
	<base href="http://127.0.0.1:8000/" />
	
	<link rel="stylesheet" type="text/css" href="static/style/reset.css"></link>
	<link rel="stylesheet" type="text/css" href="static/style/debating.css"></link>
	<!--<link rel="stylesheet" type="text/css" href="static/style/base.css"></link>
	<link rel="stylesheet" type="text/css" href="static/style/print.css"></link>
	-->
	
	<script src="http://code.jquery.com/jquery-1.5.1.js"></script>
	<script src="static/scripts/post_point.js"></script>
	
	
    </head>


    <body>
	<div class="subject_description" id="subject_description">
	    <h1>Criminalization of Non-Awesomness or Anti-Awesome</h1>
	    <h2>This is a test description of the test subject. It doesn't really matter what it contains, as long as it's long enough. This is a test description of the test subject. It doesn't really matter what it contains, as long as it's long enough. </h2>
	</div>
	
	<div class="point_section" id="point_section">
	    
	    
	    
	    <div class="point" id="point_762948">
		<div class="point_controls" id="point_controls_762948">
		    <div class="vote_up_off"></div>
		    <div class="vote_count">542</div>
		    <div class="vote_down_off"></div>
		</div>
		<div class="point_text" id="point_text_762948">
		    <div class="point_info" id="point_info_762948">
			<span class="point_username" id="point_user_16571623">
			    AwesomeUser123
			</span>
			<span class="point_votes" id="point_votes_762948">
			    (+6563/-2352)
			</span>
		    </div>
		    <div class="point_contents" id="point_contents_762948">
			I just love writing insightful points everywhere! This is a really long comment that must go into extreme depth on some particular issue. Hopefully it is the issue that is meant to be discussed in this article, but I guess good discussion is good discussion regardless of where it occurs. Maybe we can migrate it!
		    </div>
		</div>
	    </div>
	    
	    <div class="seperator" id="seperator_1">
	    </div>
	    
	    <div class="point" id="point_34562">
		<div class="point_info" id="point_info_762948">
		    <span class="point_username" id="point_user_872634">
			LalaMonkeyFace99
		    </span>
		    <span class="point_votes" id="point_votes_34562">
			(+352/-8623)
		    </span>
		</div>
		<div class="point_contents" id="point_contents_34562">
		    Hahahaha loooooser!!! You're so dumb.
		</div>
	    </div>
	    
	    <div class="seperator" id="seperator_2">
	    </div>
	    
	</div>
    
    
    </body>

</html>